* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}

.container {

}

.section__title {

}

.nav {

}

.nav_list {

}

.nav__list-item {

}

.nav__link {

}

.footer {

}

.copyright {

}
